.cloud/
.ssh/
.storage/
appdaemon/
custom_components/
deps/
esphome/
node-red/
tts/
zigbee2mqtt/
*.log
*.xml
*.db
*.sqlite
.google_maps_location_sharing.cookies.home_assistant_location_1_gmail_com
._configuration.yaml
.google_maps_location_sharing.cookies.home_assistant_location_1_gmail_com
.shopping_list.json
home-assistant.log.1
home-assistant.log.fault
._.google_maps_location_sharing.cookies.home_assistant_location_1_gmail_com
home-assistant_v2.db-shm
home-assistant_v2.db-wal
